@import "mixin";
@import "root";
@import "header";
@import "banner";
@import "type";
@import "card";
@import "micro-settings";
@import "owl";
@import "faq";
@import "calendar";

@media (max-width: 992px) {
  .custom-sticky-top {
    ul.nav {
      flex-wrap: nowrap !important;
      overflow: scroll;
    }
    ul.nav-sticky-top{
      display: none !important;
      bottom: 0;
      width: 100%;
      justify-content: space-between !important;
      background:#0d1f20;
      left: 0;
      z-index: 99;
      padding: 10px;
      &.active{
        position: fixed;
        display: flex !important;
      }
    }
  }
}

footer{
  &.active{
    margin-bottom: 4rem;
    &  + .iframe-banner{
      bottom: -100px;
      transition: all 0.3s ease;
    }
  }
}


.position-sticky{
  top:0;
  z-index:9;
  position: sticky;
}
footer{
  position: relative;
  z-index:0;
}