.hero {
  overflow: hidden;

  .hero-caption {
    bottom: 0px;
    position: relative;
    z-index: 1;
  }

  &.home-banner {
    height: 90vh;
    min-height: 400px;
    @media(min-width: 992px) {
      height: 85vh;
    }
    @media(min-width: 1200px) {
      height: 650px;
    }
    @media(min-width: 1400px) {
      height: 700px;
    }

    .heading-text {

      @media(min-width: 320px) {
        large { 
          font-size: calc(2rem + 2vw);
          &.large {
            font-size: calc(1rem + 2vw);
          }
          &.large2 {
            font-size: calc(1.8rem + 2vw);
          }
        }
        small {
          font-size: calc(0.9rem + 2vw);
        }
      }  
      @media(min-width: 992px) {
        large {
          font-size: calc(1rem + 2vw);
          line-height: calc(2rem + 2vw);
          &.large {
            font-size: calc(1rem + 2vw);
          }
          &.large2 {
            font-size: calc(1.8rem + 2vw);
          }
        }
        small {
          line-height: calc(1rem + 2vw);
          font-size: calc(0.9rem + 2vw);
        }
      }
    }

  }
  &.inner-banner {
    height:150px;
    background-color: $green-dark;
    @media(min-width: 992px) {
      height:200px;
  }

    .heading-text {
      font-size: calc(1rem + 2vw);
    }

  }
  picture {
    top: 0;
    width: 100%;
    &:before {
      position: absolute;
      content: "";
      top: 0;
      width: 100%;
      height: 100%;
      @include shadowOnImg(0deg, 1, 110%);
    }
  }

  &.sub-banner {
    height: 156px;
    background: $blue;
  }

}

.iframe-banner {
  position: fixed;
  bottom: 20px;
  left: 0;
  transition: all 0.3s ease;
  width: 100%;
  z-index: 1;
  iframe {
    border: none;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    padding: 0px 0px;
    position: sticky;
    botton: 0px;
  }
}

@-webkit-keyframes bounceAnimation {
  0% {
    bottom:5px;
  }
  25% {
    bottom: 10px;
  }
  50% {
    bottom: 5px;
  }
  75% {
    bottom: 20px;
  }
  100% {
    bottom: 5px;
  }
}
@keyframes bounceAnimation {
  0% {
    bottom:5px;
  }
  25% {
    bottom: 10px;
  }
  50% {
    bottom: 5px;
  }
  75% {
    bottom: 20px;
  }
  100% {
    bottom: 5px;
  }
}