/*
    oWl theme css
*/
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  height:0;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  height: 60px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  padding: 0;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

//owl itinerary
.custom-owl-itinerary {
  position: relative;
  .owl-caption {
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    position: relative;
    @media(min-width: 992px) {
      margin: 10px;
    }
  }
  l-item-img {
    width: 100%;
  }
  @media(min-width: 992px) {
    .owl-caption {
      width: 45%;
      padding: 2rem;
      position: absolute;
      left: 0%;
      height: 80%;
    }
    .owl-item-img {
      width: 60%;
    }

  }

  @media (min-width: 992px) {
    &.owl-nav-left-right .owl-nav{
      position: absolute;
      width:calc(100% - 90px);
      left: 110px;
      & button {
        top: -250px;
        width: 40px;
        height:40px;
        background-color:$green !important;
        border-radius: 100px;
        display: flex;
        justify-content: center;
       img {
           width: 12px !important;
        }
      }
    }
  }
}





